.chat {
    &__footer {
        border-top: 1px solid #eaeaea;

        &-items {
            margin-top: 11px;
            display: flex;
            align-items: center;

            &__paper {
                font-size: 43px;
                cursor: pointer;
                margin-right: 10px;
                color: #3369f3d5;
            }

            &__textareaBlock {
                width: 100%;
                position: relative;
            }

            &__send {
                cursor: pointer;
                width: 28px;
                height: 28px;
                padding: 9px;
                border-radius: 100%;
                background: #3369f3;
                margin-left: 10px;

                &-icon {
                    font-size: 28px;
                    color: white;
                }
            }
        }
    }
}