.message {
    max-width: 402px;
    margin-top: 50px;
    min-width: 90px;
    width: fit-content;
    padding: 11px;
    border-radius: 10px;
    background: #eff0f1;
    position: relative;

    &__date {
        position: absolute;
        right: 11px;
        bottom: 11px;
    }

    &_my {
        background: #e4edfd;
        align-self: flex-end;
    }
}