.message {
    margin-top: 50px;
    max-width: 402px;
    padding: 11px;
    border-radius: 10px;
    background: #eff0f1;
    min-width: 70px;
    &__date {
        right: 11px;
        bottom: 11px;
    }
    &_my {
        min-width: 70px;
        max-width: 402px;
        background: #e4edfd;
        right: 20px;
    }
}
