.profile {

    &__info {
        &_editable {
            margin-top: 105px;

            &-buttons {
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__button {
                    width: 280px;
                }
            }
        }
    }

    &__settings {
        &_editable>*:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}